body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

div {
  background: #cc9543;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

div,
* + p {
  margin-top: 1.5rem;
}
/* -------------rotate da ting-----------------*/

.rotate-by-deg {
  transform: rotate(45deg);
}
.rotate-by-rad {
  transform: rotate(-1rad);
}
.rotate-by-turn {
  transform: rotate(0.9turn);
}

/* -------------Scale da ting-----------------*/
.scaleX {
  transform: scaleX(0.25);
}

.scaleY {
  transform: scaleY(0.25);
}

.scaleXY {
  transform: scale(0.25, 1.5);
}
.scale {
  transform: scale(0.5);
}

/* -------------Skew da ting-----------------*/
.skewX {
  transform: skewX(45deg);
}
.skewY {
  transform: skewY(-0.5rad);
}
.skewXY {
  transform: skew(45deg, -0.5rad);
}
.skew {
  transform: skew(45deg);
}
/* -------------translate da ting-----------------*/
.translateX {
  transform: translateX(20px);
}
.translateY {
  transform: translateY(-33%);
}
.translateXY {
  transform: translate(20px, -33%);
}

.red-box,
.blue-box {
  position: absolute;
  width: 100px;
  height: 100px;
}

.red-box {
  background-color: red;
  transform: rotate(45deg) translate(200%);
}

.blue-box {
  background-color: blue;
  transform: perspective(800px) rotateX(45deg);
}
